[submodule "deps/llvm-project"]
	path = deps/llvm-project
	url = https://github.com/tiberiusbrown/llvm-project.git
	shallow = true
[submodule "deps/Ardens"]
	path = deps/Ardens
	url = https://github.com/tiberiusbrown/Ardens.git
[submodule "projects/ardurogue2"]
	path = projects/ardurogue2
	url = https://github.com/tiberiusbrown/ardurogue2_avm.git
